@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    padding:0;
    margin: 0;
    box-sizing: 0;
    font-family: poppins;
}


nav{
    padding:10px 0;
    background-color: #1b1b1b;
    width:100%;
    position: fixed;
    top:0;
    z-index:10;
}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
    max-width: 1150px;
    margin:auto;
}

.menu .logo a{
    text-decoration:none;
    color:#fff;
    font-weight:600;
    font-size: 24px;
}

.menu ul{
    list-style-type: none;
    display: flex;
}

.menu ul li{
    margin-left:7px;
}

.menu ul a{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    padding: 15px 18px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 800;
}


.menu ul a:hover{
    color:#000;
    background-color: #fff;
}

.img{
    background: url('garage.jpg') no-repeat;
    height:100vh;
    background-size: 100% 100%;
    position: relative;
    top:70px;
}

.img:before{
    content:'';
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

.center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    width:100%;
    text-align: center;

}  

.center .title{
    font-weight: 600;
    font-size:40px;
    color:#fff;
}
.center .subtitle{
    font-weight: 600;
    font-size:40px;
    color:#fff;
}

.center .btns{
    margin-top:25px;
}

.btns button{
    border:2px solid #fff;
    height:55px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: 600;
    cursor:pointer;
    margin:0 10px;
    transition: all 0.3s ease;
    outline:none;
}

.btns button:first-child{
    color:#fff;
    background:none;
}
.btns button:first-child:hover{
    color:#000;
    background:#fff;
}




