@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins;
}



html, body{
    height:100%;
    display: grid;
    place-items: center;
    background-color: #1abc9c;
}

.wrapper{
    width:380px;
    background: #fff;
    border-radius: 5px;
}

.wrapper .title{
    background-color: #16a085;
    padding-left: 20px;
    line-height: 60px;
    border-radius: 5px 5px 0px 0px;
    font-weight: 600;
    color:#fff;
    font-size:24px;
    text-align:center
}

.wrapper form{
    padding:30px 20px 25px 20px;
}

.wrapper form .row{
    background-color: #ff0000;
    margin-bottom: 5px;
    height: 45px;
    position:relative;
    border-radius: 5px;
}

.wrapper .row input{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline:none;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.wrapper .row input:focus{
    border-color:#16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26,168,156,0.25); 
}

.row i{
    position: absolute;
    width:47px;
    height:100%;
    background-color: #16a085;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}


.wrapper form .button input{
    padding-left: 0px;
    color:#fff;
    font-weight:600;
    font-size:20px;
    background-color: #1abc9c;
    cursor: pointer;
}

.wrapper form .pass{
    margin: 0px 0px 10px 0px;
}

.wrapper form .pass a{
    text-decoration: none;
    color:#16a085;
}

.wrapper form .pass a:hover{
    text-decoration: underline;
}

.wrapper form .sign-up{
    text-align: center;
    margin-top: 10px;
}

.wrapper form .sign-up a{
    text-decoration: none;
    color:#16a085;
}
.wrapper form .sign-up a:hover{
    text-decoration: underline;

}