*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

section{
    height:100vh;
    width:100%;
    background-color: #121321;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color:#fff;
}


section:before{
    content: "";
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, #9c2760, #fff);
    border-radius: 50%;
    position:absolute;
    transform: translate(-150px,-100px);
}
section:after{
    content: "";
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, #9c2760, #fff);
    border-radius: 50%;
    position:absolute;
    transform: translate(150px, 100px);
}

.container{
    width:375px;
    height: 225px;
    z-index:100;
    position:relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.container .card{
    width:100%;
    height:100%;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0px 25px 45px rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(25px);
    padding: 25px;
    position:absolute;
    backface-visibility: hidden;
}

.container:hover{
    transform: rotateY(180deg);
}


.front-face .logo img{
    width: 48px;
}

.front-face img{
    width: 50px;
}

.front-face .logo{
    display: flex;
    align-items: center;
}

.logo h5{
    color:#fff;
    font-weight:900;
    font-size:22px;
}

.front-face header{
    display: flex;
    justify-content: space-between;
}

.front-face .card-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top:40px;
}

h6{
    font-weight: 500;
    font-size:12px;
}

h5.number{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 300;
}

h5.name{
    font-weight:300;
    font-size: 18px;
    margin-top: 20px;
}

.validity .date{
    font-size: 20px;
}

.card.card.back-face{
    padding: 15px 25px;
    transform: rotateY(180deg);
}
.card.back-face h6{
    font-size:8px;
}

.card.back-face .magnetic-strip{
    position:absolute;
    top:40px;
    background-color: #000;
    height: 45px;
    width:100%;
    left:0;
}

.card.back-face .signature{
    margin-top:70px;
    width: 85%;
    height: 40px;
    background: repeating-linear-gradient(#fff, #fff 3px, #efefef 0px, #efefef 9px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 6px;
}

.signature i{
    color:#000;
    margin-right:-30px;
    background-color: #fff;
    padding: 4px 6px;
    border-radius: 2px;
    font-size: 16px;
}